*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  
}
.body{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient( #c9c7bc, #64d8f1);
    background-attachment: fixed;
    gap: 20px !important;
}
.home-screen button {
    margin: 10px; /* Adjust as needed */
}